<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/articles/<%=article.slug%>/edit" method="POST">
        <input type="text" name="title" id="" placeholder="enter title" value="<%=article.title%>">
        <input type="text" name="description" id="" placeholder="enter description" value="<%=article.description%>">
        <input type="text" name="author" id="" placeholder="enter author"value="<%=article.author%>">
        <button type="submit">Edit Article</button>
    </form>
</body>
</html>